body {
    /* background: url("Amazing Desktop Wallpaperf.png"); */
    background-color: #f6f6f6;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 89.3vh;
}
.backdrop{
    height: 100%;
    width: 100%;
    padding-top: 5%;

}
a{text-decoration: none;}
.main {
    width: 60%;
    height: 70%;
    overflow-y: auto;
    margin: 0 auto 0 auto;
    display: grid;
    padding-top: 3em;
    background: #fff;
    padding: 2em;
    border-radius: 0.5rem;
    grid-row-gap: 1.2rem;
    -webkit-box-shadow: -4px 9px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 9px 20px -7px rgba(0,0,0,0.75);
    box-shadow: -4px 9px 20px -7px rgba(0,0,0,0.75);
    
}
.main h1.h1 {
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .main{width: 80%;}
}
.search {
    height: 3em;
    font-size: larger;
    padding-left: 1em;
}

.word_div {
    border-left: 0.2rem solid brown;
    padding-left: 0.6rem;
    background: rgb(236, 236, 236);
    border-radius: 5px;
    border-top-left-radius: 15px;
    
}
hr{margin-bottom: 2px;}

#main_word_div {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.speech_icon {
    margin-top: 3rem;
}

.messages p{
    padding: 2em;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    color: #f8f8f8;
    border-radius: 0.4em;
}
