<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wordie</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static '../static/audio.js' %}"></script>
  </head>

  <body>
<div class="backdrop">
      <main class="main">
        <div class="messages">
          {% for message in messages %}
          <p style="background-color: rgb(255, 179, 2)">{{message}}</p>
          {% endfor %}
        </div>
        <h1 class="h1">Wordie (Dictionary) App</h1>

        <form action="">
          <input
            name="check"
            type="search"
            placeholder="Search word..."
            class="search"
            style="width: 100%"
          />
        </form>

        {% if word is not None %}
        <div id="main_word_div">
          <div class="word_pro">
            <h3>{{word}}</h3>
            {% if pronunciation %}
               <p>{{pronunciation}}</p>
            {% else %}
              <p>N/A</p>
            {% endif %}
           
          </div>

          
          {% if audio_link %}
          <div class="speech_icon">
            <audio src="{{audio_link}}" id="audio"></audio>
            <img
              src="{% static '../static/playbtn.png' %}"
              height="40"
              width="40"
              alt=""
              onclick="checkMediaPlaying();"
            />
          </div>
          {% endif %}
            
          

        </div>

        <div class="word_div">
          <h3>Meaning</h3>

          {% for meaning in meanings %}

          <p>-> {{meaning |capfirst}}</p>

          {% endfor %}
          <hr />
        </div>

        {% if examples %}

        <div class="word_div" style="border-left: 0.2rem solid #582872">
          <h3>Examples</h3>

          {% for example in examples %}
          
          {% if example is not None %}
          <p>-> {{example | capfirst}}</p>
          {% endif %}
            
          {% endfor %}

          <hr />
        </div>
        {% endif %} 
        
        {% if synonyms %}

        <div
          class="word_div"
          style="border-left: 0.2rem solid rgb(233, 63, 63)"
        >
          <h3>Synonyms</h3>

          {% for synonym in synonyms %}

          <a href="{{request.path}}?check={{synonym}}">
            {% if synonym == synonyms|last %} {{synonym}} {% else %}
            {{synonym}}, {% endif %}
          </a>

          {% endfor %}
          <hr />
        </div>
        {% endif %} {% if antonyms %}

        <div class="word_div" style="border-left: 0.2rem solid rgb(26, 117, 8)">
          <h3>Antonymns</h3>

          {% for antonym in antonyms %}

          
          {% if antonym %}

          <a href="{{request.path}}?check={{antonym}}">
            {% if antonym == antonyms|last %} {{antonym}} {% else %}
            {{antonym}}, {% endif %}
          </a>
            
          {% endif %}
            
          
          {% endfor %}

          <hr />
        </div>
        {% endif %} {% else %}

        <center>
          <p>Enter a word in the search box to find its meaning.</p>
        </center>
        {% endif %}
      </main>
    </div>
  </body>
</html>
